#.gitignore
Sources/build_no.h
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/kvl_test
Trial/*.sln
Trial/*.vcxproj.user
Libraries/CANAPI/.vs
Libraries/CANAPI/x64
Libraries/CANAPI/x86
Libraries/CANAPI/Debug*
Libraries/CANAPI/Release*
Libraries/CANAPI/uvcankvl
Libraries/CANAPI/*.sln
Libraries/CANAPI/*.aps
Libraries/CANAPI/*.vcxproj.user
Libraries/KvaserCAN/.vs
Libraries/KvaserCAN/x64
Libraries/KvaserCAN/x86
Libraries/KvaserCAN/Debug*
Libraries/KvaserCAN/Release*
Libraries/KvaserCAN/KvaserCAN
Libraries/KvaserCAN/*.sln
Libraries/KvaserCAN/*.aps
Libraries/KvaserCAN/*.vcxproj.user
Utilities/.vs
Utilities/x64
Utilities/x86
Utilities/Debug
Utilities/Release
Utilities/can_moni/.vs
Utilities/can_moni/x64
Utilities/can_moni/x86
Utilities/can_moni/Debug
Utilities/can_moni/Release
Utilities/can_moni/can_moni
Utilities/can_moni/*.sln
Utilities/can_moni/*.vcxproj.user
Utilities/can_test/.vs
Utilities/can_test/x64
Utilities/can_test/x86
Utilities/can_test/Debug
Utilities/can_test/Release
Utilities/can_test/can_test
Utilities/can_test/*.sln
Utilities/can_test/*.vcxproj.user
Tests/.vs
Tests/x64
Tests/x86
Tests/Debug
Tests/Release
Tests/kvl_testing
Tests/*.sln
Tests/*.vcxproj.user
KvaserCANlib-cppcheck-build-dir
artifacts
Binaries
Includes
Testing
.vscode
*.exe
*.log
*.pdf
