#.gitignore
Sources/CANAPI/.svn
Sources/build_no.h
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/*.sln
Trial/*.vcxproj.user
Libraries/CANAPI/.vs
Libraries/CANAPI/x64
Libraries/CANAPI/x86
Libraries/CANAPI/Debug
Libraries/CANAPI/Release
Libraries/CANAPI/*.aps
Libraries/CANAPI/*.sln
Libraries/CANAPI/*.vcxproj.user
Libraries/KvaserCAN/.vs
Libraries/KvaserCAN/x64
Libraries/KvaserCAN/x86
Libraries/KvaserCAN/Debug
Libraries/KvaserCAN/Release
Libraries/KvaserCAN/*.sln
Libraries/KvaserCAN/*.aps
Libraries/KvaserCAN/*.vcxproj.user
Testing
Utilities
